{% load static %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link href="https://fonts.googleapis.com/css?family=Muli:300,400,700,900" rel="stylesheet">
<link rel="stylesheet" href="{% static 'landing/fonts/icomoon/style.css' %}">
<link rel="stylesheet" href="{% static 'landing/css/jquery-ui.css' %}">
<link rel="stylesheet" href="{% static 'landing/css//owl.carousel.min.css' %}">
<link rel="stylesheet" href="{% static 'landing/css/owl.theme.default.min.css' %}">
<link rel="stylesheet" href="{% static 'landing/css/owl.theme.default.min.css' %}">
<link rel="stylesheet" href="{% static 'landing/css/jquery.fancybox.min.css' %}">
<link rel="stylesheet" href="{% static 'landing/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'landing/css/bootstrap-datepicker.css' %}">
<link rel="stylesheet" href="{% static 'landing/fonts/flaticon/font/flaticon.css' %}">
<link rel="stylesheet" href="{% static 'landing/css/aos.css' %}">
<link href="{% static 'landing/css/jquery.mb.YTPlayer.min.css' %}" media="all" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="{% static 'landing/css/style.css' %}">
