{% load static %}
<script src="{% static 'landing/js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'landing/js/jquery-migrate-3.0.1.min.js' %}"></script>
<script src="{% static 'landing/js/jquery-ui.js' %}"></script>
<script src="{% static 'landing/js/popper.min.js' %}"></script>
<script src="{% static 'landing/js/bootstrap.min.js' %}"></script>
<script src="{% static 'landing/js/owl.carousel.min.js' %}"></script>
<script src="{% static 'landing/js/jquery.stellar.min.js' %}"></script>
<script src="{% static 'landing/js/jquery.countdown.min.js' %}"></script>
<script src="{% static 'landing/js/bootstrap-datepicker.min.js' %}"></script>
<script src="{% static 'landing/js/jquery.easing.1.3.js' %}"></script>
<script src="{% static 'landing/js/aos.js' %}"></script>
<script src="{% static 'landing/js/jquery.fancybox.min.js' %}"></script>
<script src="{% static 'landing/js/jquery.sticky.js' %}"></script>
<script src="{% static 'landing/js/jquery.mb.YTPlayer.min.js' %}"></script>
<script src="{% static 'landing/js/main.js' %}"></script>
