{% load static %}
<script src="{% static 'portal/js/vendor/modernizr-2.8.3.min.js' %}"></script>
<script src="{% static 'portal/js/vendor/jquery-1.12.4.min.js' %}"></script>
<script src="{% static 'portal/js/bootstrap.min.js' %}"></script>
<script src="{% static 'portal/js/wow.min.js' %}"></script>
<script src="{% static 'portal/js/jquery-price-slider.js' %}"></script>
<script src="{% static 'portal/js/jquery.meanmenu.js' %}"></script>
<script src="{% static 'portal/js/owl.carousel.min.js' %}"></script>
<script src="{% static 'portal/js/jquery.sticky.js' %}"></script>
<script src="{% static 'portal/js/jquery.scrollUp.min.js' %}"></script>
<script src="{% static 'portal/js/scrollbar/jquery.mCustomScrollbar.concat.min.js' %}"></script>
<script src="{% static 'portal/js/scrollbar/mCustomScrollbar-active.js' %}"></script>
<script src="{% static 'portal/js/metisMenu/metisMenu.min.js' %}"></script>
<script src="{% static 'portal/js/metisMenu/metisMenu-active.js' %}"></script>
<script src="{% static 'portal/js/sparkline/jquery.sparkline.min.js' %}"></script>
<script src="{% static 'portal/js/sparkline/jquery.charts-sparkline.js' %}"></script>
<script src="{% static 'portal/js/calendar/moment.min.js' %}"></script>
<script src="{% static 'portal/js/calendar/fullcalendar.min.js' %}"></script>
<script src="{% static 'portal/js/calendar/fullcalendar-active.js' %}"></script>
<script src="{% static 'portal/js/tab.js' %}"></script>
<script src="{% static 'portal/js/plugins.js' %}"></script>
<script src="{% static 'portal/js/main.js' %}"></script>
