{% extends 'portal/base.html' %}
{% load static %}
{% block content %}

<div class="single-pro-review-area mt-t-30 mg-b-15" style="margin-top:6em">
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="profile-info-inner">
                <div class="profile-img">
                    <img src="{{user.profile.image.url}}" alt="" />
                </div>
                <div class="profile-details-hr">
                    <div class="row">
                        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-6">
                            <div class="address-hr">
                                <p><b>Name</b><br /> {{user.first_name}} {{user.last_name}}</p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-6">
                            <div class="address-hr tb-sm-res-d-n dps-tb-ntn">
                                <p><b>Address</b><br /> {% if user.profile.location != '' %} {{user.profile.location}} {% else %} unknown {% endif %}</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-6">
                            <div class="address-hr">
                                <p><b>Email</b><br /> {{user.email}} </p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-6">
                            <div class="address-hr tb-sm-res-d-n dps-tb-ntn">
                                <p><b>Phone</b><br /> {% if user.profile.phone_number != '' %} {{user.profile.phone_number }} {% else %} unknown {% endif %} </p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="address-hr">
                              {% if user.profile.level == "GURU" %}
                                <div class="cssload-loader">GURU</div>
                              {% else %}
                                <p style="color: black"><b>{{user.profile.level}}</b><br />
                                <div style="height: 10px; margin-bottom:5px;" class="progress progress-mini">
                                    <div style="width: {{exp}}%" class="progress-bar progress-yellow"> </div>
                                </div>
                              {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
            <div class="product-payment-inner-st res-mg-t-30 analysis-progrebar-ctn">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="review-content-section">
                            <h2 style='margin-left:350px;margin-bottom:40px'>Biography</h2>
                            <div class="row" style='margin-bottom:20px;'>
                                <div class="col-lg-12">
                                    <div class="content-profile">
                                        <p>{% if user.profile.biography != '' %} {{user.profile.biography}} {% else %} unknown {% endif %}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row mg-b-15">
                                <div class="col-lg-12">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="skill-title">
                                                <h2>Courses</h2>
                                                <hr />
                                            </div>
                                        </div>
                                    </div>
                                    {% for course in user.profile.courses.all %}
                                      <div class="progress-skill">
                                          <h2><a href="{% url 'portal:course_details' course_slug=course.slug %}">{{ course.short_name }}</a></h2>
                                      </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
