{% load static %}
<script src="{% static 'forum/vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'forum/vendor/popper.js/umd/popper.min.js' %}"> </script>
<script src="{% static 'forum/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'forum/vendor/jquery.cookie/jquery.cookie.js' %}"> </script>
<script src="{% static 'forum/vendor/@fancyapps/fancybox/jquery.fancybox.min.js' %}"></script>
<script src="{% static 'forum/js/front.js' %}"></script>
<script src="{% static 'forum/js/js/main.js' %}"></script>
<script src="{% static 'forum/js/js/particles-settings.json' %}"></script>
<script src="{% static 'forum/js/libs/particles/particles.js' %}"></script>
